<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>
            name
          </label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label>Amount</label>
          <input type="number" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" (click)="addIngredient()">Add</button>
          <button  type="submit" class="btn btn-danger" (click)="deleteIngredient()">Delete</button>
          <button  type="submit" class="btn  btn primary" (click)="clearIngredient()">Clear</button>
        </div>
      </div>
      
    </form>
  </div>
</div>